.image{
    background-image: url('../155510056.png');

}

.gradient-border {
    position: relative;
}

.gradient-border::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(to right, #8E24AA, #E91E63);
    z-index: -1;
    border-radius: inherit;
}

.gradient-border button:hover {
    background: linear-gradient(to right, #8E24AA, #E91E63);
}